#background {
    z-index: 100;
    position:relative;
    left:0px;
    top:-505px;
}

#gamearea {
    z-index: 200;
    position:relative;
    left:0px;
    top:0px;
}

#controllerOpen {
 position:relative;
    left:0px;
    top:-500px;   
}