#background {
    z-index: 100;
    position:relative;
    left:-2px;
    top:-545px;
    border: 1px solid black;
}

#gamearea {
    z-index: 200;
    position:relative;
    left:-2px;
    top:-30px;
    border: 10px solid black;
}

#controllerOpen {
 position:relative;
    left:0px;
    top:-500px;   
}