#background {
    z-index: 100;
    position:relative;
    left:px;
    top:-585px;
    border: 1px solid black;
}

#gamearea {
    z-index: 200;
    position:relative;
    left:-10px;
    top:-20px;
    border: 10px solid black;
}

#controllerOpen {
 position:relative;
    left:0px;
    top:-500px;   
}